

<div class="shadow">
	<div>
		<h1> Data binding in Angular 2 </h1>
			<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h5>Interpolation Example</h5> Hello {{name}} !  </div>
			<div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h5>One way binding Example</h5> 
				Hello <span [innerText] = "name" ></span>!  
				<br/><br/>  
				Hello <span [innerHTML] = "name" ></span>!  
				<br/><br/>  
			    <input type = 'text'  [value]="name" />
			</div>
			<div>
				<h5>Two way binding Example</h5>  
				<input type="text" [(ngModel)]="enterYourName">
				<br/><br/>  
			    <span> WelCome {{enterYourName}} ! </span>  
			</div>
			<div>
			
				<h5>Event binding Example</h5>  
				<button (click)="onClickMe('Santosh')">Click me!</button>  
			    <br/><br/>  
			    <span> {{messageText}} </span>  

			
			</div>
	</div>


</div>




<div id="container">
<!--   <router-outlet></router-outlet> -->
</div>
