<div>
	<form action='loginSubmit'> 
		Username <input type='text' name='username'>
		<br> Password <input type='password' name='password'>
		<br> <input type='submit' name='login' value='Login'>
	</form>
</div>