<div class="shadow">
	<div>
		<h1> Data binding in Angular 2 </h1>
			<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3>Interpolation Example</h3> Hello {{name}} !  </div>
			<div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3>One way binding Example</h3> 
				Hello <span [innerText] = "name" ></span>!  
				<br/><br/>  
				Hello <span [innerHTML] = "name" ></span>!  
				<br/><br/>  
			    <input type = 'text'  [value]="name" />
			</div>
			<div>
				<h3>Two way binding Example</h3>  
				<input type="text" [(ngModel)]="enterYourName">
				<br/><br/>  
			    <span> WelCome {{enterYourName}} ! </span>  
			</div>
			<div>
			
				<h3>Event binding Example</h3>  
				<button (click)="onClickMe('Santosh')">Click me!</button>  
			    <br/><br/>  
			    <span> {{messageText}} </span>  
			</div>
	</div>
</div>