
	<div> 
		<h3 *ngIf = 'appStatus'> {{appTitle}} to Angular 2 </h3> 
	</div> 

	<div *ngIf = 'appStatus'> 
		<div *ngFor = 'let emp of empList'> 
		   <ul> 
			  <li>{{emp.ID}} {{emp.Name}}</li> 
		   </ul> 
		</div>
	</div>
	
	<button (click)="enableEmployeeInfo()">Enable/Disable Employee Info</button>