

  <div id="menu">
    <a [routerLink]="['/home']" class="btn">Home</a>
    <a [routerLink]="['/about']" class="btn">About</a>
  </div>

  <br><br><br><br><br>

<div id="container">
  <router-outlet></router-outlet>
</div>
