lowercase example
<div> 
   The first Topic is {{appList[0] | lowercase}}<br> 
   The second Topic is {{appList[1] | lowercase}}<br> 
   The third Topic is {{appList[2]| lowercase}}<br> 
</div> 

<br>
---------------------------------------------------------------------------------------------------------
uppercase example
<div> 
   
   The first Topic is {{appList[0] | uppercase}}<br> 
   The second Topic is {{appList[1] | uppercase}}<br> 
   The third Topic is {{appList[2]| uppercase}}<br> 
</div> 

<br>
---------------------------------------------------------------------------------------------------------
slice example
<div> 
   {{sliceText | slice:1:21}}<br> 
</div> 

<br>
---------------------------------------------------------------------------------------------------------
Date example
<div> 
  <br> without filter : Today date is {{todayDate}}
			
			<br> with filter : Today date is {{todayDate | date:'dd-MMM-yyyy'}}
			<br> with filter : Today date is {{todayDate | date:'dd-MM-yy'}}
			
			<br> longDate : Today date is {{todayDate | date:'longDate'}}
			<br> short : Today date is {{todayDate | date:'short'}}
			
			
			<br> Year is {{todayDate | date:'yyyy'}}
			<br> Month is {{todayDate | date:'MMM'}}
			<br> Date is {{todayDate | date:'dd'}}
</div> 

<br>
---------------------------------------------------------------------------------------------------------
Filter out based on user input
<div>

		<div>
			Complete list
          <ul *ngFor = "let language of languagesNames">
			<li>{{language}}</li>
          </ul>
        </div>
		
        Enter language name to filter out<input type="text" [(ngModel)]="str">
        <div *ngFor = "let language of languagesNames | filterString:str" >
          <p>
            {{language}}
          </p>
        </div>
 
    </div>  



<br>
---------------------------------------------------------------------------------------------------------
 Custom Multiplier Pipe
<div> 
  <p>Multiplier: {{2 | Multiplier: 10}}</p>
</div>